<div class="flex flex-col py-10 px-5  md:px-10 justify-center items-center">
  <h1 class="text-5xl font-bold text-center" >Lets Get You Onboard</h1>

  <div class="flex flex-col p-5 md:p-10 bg-slate-100 border mt-10 rounded-xl border-slate-400 w-full md:w-1/2" >
    <input  [(ngModel)]="name" class="p-3 border border-slate-300 rounded-xl w-full mb-3" type="name" placeholder="Name" required >
    <input [(ngModel)]="email" class="p-3 border border-slate-300 rounded-xl w-full mb-3" type="email" placeholder="Email" required >

    @if(!checkEmail(email)) {
      <label class="bg-red-50 rounded-xl mb-3 text-red-500 p-2 w-full text-start border border-red-300" >Enter Valid Email</label>
    }

    <input [(ngModel)]="password" class="p-3 border border-slate-300 rounded-xl w-full mb-3" type="password" placeholder="Password" required >
    <button (click)="onCreateAccount()"  class="p-3 border bg-red-400 text-white disabled:bg-red-200 hover:bg-black transition-all border-slate-300 rounded-xl w-full" [disabled]="name == '' || message == '' || password == ''  || !checkEmail(email)" >{{message}}</button>
    <a href="/login" class="p-5 text-slate-800 hover:text-blue-600  text-center">Already have an account? <strong>Click here to login!</strong></a>
  </div>
</div>
