<div class="flex flex-col p-10 justify-center items-center text-center" >

  <h1 class="text-7xl font-bold my-10" >Logged In User Information</h1>


  @switch(state) {
    @case ("loading") {
      <p class="animate-pulse text-5xl text-slate-500" >Please wait...</p>
    }

    @case ("success") {
      <h1 class="text-3xl font-bold" >Name : {{user?.name}}</h1>
      <h1 class="text-2xl text-slate-600" >Email : {{user?.email}}</h1>

      <button (click)="logout()" class="mt-10 text-red-400 hover:text-red-600" >Logout</button>
    }

    @case ("error") {
      <p class="text-5xl text-red-500" >Something went wrong</p>
    }
  }


</div>
