<div class="flex flex-col text-center p-10 justify-center items-center w-full" >
  <h1 class="text-slate-500  font-bold" >Spring Boot + Angular Auth</h1>

  <h1 class="text-4xl w-full mt-10" >Lets get you started</h1>

  <div class="flex flex-col mt-10 items-center justify-center w-full" >
    <a class="bg-slate-100 border border-slate-400 px-4 py-1 mb-2 w-1/2 md:w-1/4 rounded-xl hover:bg-black hover:text-white" href="/login">Login</a>
    <a class="bg-slate-100 border border-slate-400 px-4 py-1 mb-2 w-1/2 md:w-1/4 rounded-xl hover:bg-black hover:text-white" href="/create/account">Create Account</a>
  </div>
</div>
